@font-face {
    font-family: 'Corinthia';
    src: url('./fonts/Corinthia/Corinthia-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Franklin';
    src: url('./fonts/Franklin/Franklin\ Gothic\ Medium\ Cond\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}